.vote-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 0px 6px -2px rgba(227, 227, 227, 1);
  border-radius: 10px;
  flex-wrap: wrap;
  height: 100%;
}

@media (min-width: 768px) {
  .vote-page {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.vote-page > div {
  padding: 1rem;
  box-shadow: -9px 1px 6px -11px rgba(196, 196, 196, 0.33);
}
